{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [midas]}
]}.


{project_plugins, [rebar_gleam, rebar3_hex]}.

{deps, [
    {gleam_stdlib, "0.10.0"},
    {gleam_http, {git, "https://github.com/midas-framework/http", {ref, "25b2a8256122a6361aa602fcc1a73fdf5c3d5a53"}}}
]}.
