{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [midas]}
]}.


{project_plugins, [rebar_gleam, rebar3_hex]}.

{deps, [
    {gleam_stdlib, {git, "https://github.com/gleam-lang/stdlib", {ref, "5017b8bff3097206d36bc6d5f28ce082649d4dbc"}}},
    {gleam_http, {git, "https://github.com/midas-framework/http", {ref, "acfb3bd8f557e26c1c36eae8dae81d6a32937816"}}}
]}.
